@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #b87400ec;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.active {
  background-color: rgba(255, 210, 88, 0.95);
  color: black
}

.positive {
  color: green;
}

.negative {
  color: red;
}
